:root {
  /* Fonts */
  --font-poppins: "Poppins", sans-serif;
  --font-mono: "Roboto Mono", monospace;
  --border: 1px solid var(--cmed);
  --border-2: 3px solid var(--cmed);
}

:root,
html[data-theme="light"] {
  --bg: #eee;
  --bg-light: #f5f6f7;
  --text: #666;
  --text-2: #444;
  --link: #077;
  --cmed: #d1d1d1;
  --title-link: #0080ff;
  --hover-light: #0e6fde;
  --error: rgb(120, 8, 8);
}

@media (prefers-color-scheme: dark) {
  :root,
  html[data-theme="dark"] {
    --bg: #222;
    --bg-light: #333;
    --text: #ddd;
    --text-2: #bbb;
    --link: #070;
    --cmed: #566;
    --error: rgb(215, 100, 100);
  }
}
/* Basic */
* {
  box-sizing: border-box;
}
html {
  background-color: var(--bg);
  color: var(--text);
}
body {
  font-family: var(--font-poppins);
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
/* Nav Bar */
nav {
  margin-bottom: 18px;
  border-bottom: var(--border-2);
  padding-bottom: 7px;
}
nav .nav-link {
  margin-right: 15px;
  text-decoration: none;
  color: var(--text);
  font-weight: 700;
  font-family: var(--font-mono);
  border-left: var(--border-2);
  border-right: var(--border-2);
  padding: 0 10px;
  border-radius: 10px;
}
nav .nav-link:hover {
  color: var(--link);
  border-left: 3px solid var(--link);
  border-right: 3px solid var(--link);
}
nav h2 {
  text-align: center;
  color: var(--text-2);
  margin-bottom: 3px !important;
}

p a {
  text-decoration: none;
  color: var(--link);
  font-weight: 500;
}
p a:not(:first-child) {
  margin-left: 5px;
  margin-right: 5px;
}
p a:hover {
  color: var(--hover-light);
}
p img {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Format tables */
table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  width: 100%;
}

figure > table {
  width: max-content;
  margin: 0;
}

td,
th {
  border: var(--border);
  text-align: start;
  padding: 0.5rem;
}

th {
  background-color: var(--bg-light);
  font-weight: bold;
}

tr:nth-child(even) {
  /* Set every other cell slightly darker. Improves readability. */
  background-color: var(--bg);
}

table caption {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
/* Footer */
footer {
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  border-top: var(--border-2);
  border-bottom: var(--border-2);
  border-radius: 10px;
  margin-top: 50px;
}

footer p {
  font-style: italic;
  font-size: 16px;
  font-family: var(--font-mono);
  margin-right: 25px;
}
footer svg {
  fill: var(--text-2);
}
footer svg:hover {
  fill: var(--link);
}
/* Post Card */
.post-card {
  margin-bottom: 40px;
  /* border-bottom: var(--border); */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}
.post-card .post-link {
  text-decoration: none;
  color: var(--link);
  font-size: large;
}
.post-card .post-link:hover {
  color: var(--hover-light);
}
.bar {
  border: 1px solid var(--link);
  margin-bottom: 40px;
}
/* Image Center */
.icenter {
  display: block;
  margin: 0 auto;
}

/* Old New Posts  */
.old-new {
  display: flex;
  flex-direction: row;
  margin-top: 38px;
  justify-content: space-between;
}
.old-new button {
  text-decoration: none;
  color: var(--link);
  font-family: var(--font-mono);
  font-size: medium;
  border: none;
  background-color: inherit;
}
.old-new button:hover {
  color: var(--hover-light);
  cursor: pointer;
}
.old-new p {
  font-family: var(--font-mono);
  font-size: medium;
  color: var(--error);
}
/* Post */
.post p img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 300px;
}
.textile-logo {
  display: block;
  margin: 0 auto;
  max-width: 200px;
  max-height: 200px;
}

/* theme button */
.theme-btn {
  border: none;
  background-color: inherit;
  color: inherit;
  float: right;
}
.theme-btn:hover {
  color: var(--link);
  cursor: pointer;
}

/* Pre Code block */

/* 
Loader
https://cssloaders.github.io/
 */
.load-div {
  margin: auto;
  width: 50%;
  text-align: center;
}
.loader {
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: dashed solid solid dotted;
  border-color: #ff3d00 #ff3d00 transparent #ff3d00;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 20px;
  top: 31px;
  border: 10px solid transparent;
  border-right-color: #ff3d00;
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
